          * body {
              margin: 0;
              padding: 0;
          }
          
          .container {
              width: 100vw;
              height: 10vw;
              padding: 0;
              display: inline-grid;
              grid-template-columns: 1fr 1fr;
              background: #5b191a;
              align-items: center;
          }
          
          #cont-logo {
              width: 90%;
          }
          
          #cont-logo-1 {
              width: 40%;
              padding-left: 5vw;
          }
          /* NAVBAR START */
          
          .navbar {
              width: 100%;
              height: 4vw;
              background-color: black;
              color: white;
              display: flex;
              justify-content: flex-start;
              align-items: center;
          }
          
          ul {
              list-style-type: none;
              display: flex;
              font-size: 1.5rem;
          }
          
          li {
              padding-right: 1vw;
          }
          
          a {
              text-decoration: none;
              color: white;
          }
          
          a:visited {
              color: rgb(226, 135, 135);
              transition: 1ms;
          }
          
          a:hover {
              color: red;
          }
          
          a:active {
              color: rgb(255, 115, 0);
          }
          
          a:hover {
              color: white;
              font-size: 150%;
          }
          /* NAVBAR END  */
          /*  date & time START */
          
          .time {
              display: flex;
              justify-content: flex-end;
              font-size: .5rem;
              padding-right: 0.5rem;
              /* margin-top: 5vw; */
              margin: auto;
          }
          
          .date {
              padding-right: 4rem;
          }
          /* date & time END */
          
          .wrapper {
              width: 100%;
              display: inline-flex;
              justify-content: center;
              /* margin-top: 3vw;
                margin-bottom: 3vw;
                margin-left: 3vw; */
              margin: auto;
          }
          
          .wrp {
              display: flex;
              width: 100%;
              justify-content: center;
          }
          
          .news-text {
              width: 90vw;
              height: 5vw;
              /* margin-top: 3vw; */
              margin: auto;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              background-color: gray;
              padding-left: 1rem;
          }
          
          figure {
              width: 20rem;
              height: 22rem;
              background-color: black;
              color: white;
          }
          
          .fig {
              padding-left: 5rem;
          }
          
          .fig-2 {
              padding-left: 3rem;
          }
          
          .article-img {
              width: 20rem;
              height: 18rem;
          }
          
          .time {
              display: inline-flex;
              width: 100vw;
              height: 5vw;
              justify-content: end;
              align-items: center;
              padding: 0;
          }
          
          .date {
              font-size: 1rem;
          }
          
          .bann {
              display: inline-flex;
              justify-content: center;
              width: 100vw;
              padding: 0;
              margin: auto;
          }
          
          #banner-3 {
              margin-top: 3vw;
              width: 70vw;
              height: 9vw;
              margin-bottom: 3vw;
          }
          
          .wrapper-bottom {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;
              align-self: center;
              width: 100vw;
              gap: 2vw;
              margin-bottom: 5vw;
          }
          
          .figure-two {
              display: inline;
              justify-content: center;
              width: 20rem;
              height: 20rem;
              background-color: black;
              color: white;
              margin: auto;
          }
          
          .article-img-2 {
              width: 20rem;
              height: 15rem;
          }
          
          .nav-footer {
              display: grid;
              width: 100vw;
              height: 8vw;
              grid-template-columns: 1fr 1fr;
              background-color: black;
              align-self: end;
          }
          
          .footer-logo {
              grid-column: end;
              align-items: center;
              padding-right: 10vw;
              padding-top: 2vw;
          }
          
          .copyright {
              height: 5vw;
              width: 100vw;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: black;
              color: white;
              margin: 0;
              border-top: black;
              padding-bottom: 3vw;
          }
          
          h3 {
              margin: 0;
              padding: 0;
          }
          
          @media screen and (max-width:481px) {
              .container {
                  width: 100vw;
                  height: 15vw;
                  display: inline-flex;
                  flex-wrap: wrap;
              }
              #cont-logo {
                  display: none;
              }
              #cont-logo-1 {
                  width: 30%;
                  padding-left: 10rem;
              }
              con .navbar {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
              }
              ul {
                  font-size: 1rem;
              }
              .navbar {
                  height: 10vw;
                  justify-content: center;
              }
              .time {
                  visibility: hidden;
              }
              .wrapper,
              .wrp,
              .wrapper-bottom {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
              }
              .nav-footer {
                  display: grid;
                  grid-template-rows: 1fr;
                  grid-template-columns: 1fr;
                  align-items: center;
                  height: 20vw;
              }
              .copyright {
                  height: 10vw;
                  display: inline-flex;
                  justify-content: center;
                  padding: 0em;
              }
              .footer-logo {
                  grid-area: 1/1;
                  padding: 0;
                  padding-left: 8.5rem;
                  padding-top: 1rem;
              }
              #footer-logo-2 {
                  grid-area: 1/1;
                  width: 5rem;
                  padding: 0em;
              }
              .navbar-bottom {
                  grid-area: 2/1;
                  padding-left: 5rem;
              }
          }
          
          @media screen and (max-width:769px) {
              .container {
                  width: 100vw;
                  height: 15vw;
                  display: inline-flex;
                  padding: 0em;
                  margin: 0em;
              }
              .wrp,
              .wrapper {
                  display: grid;
                  width: 100%;
                  grid-template-rows: 1fr;
                  grid-template-columns: 1fr 1fr;
              }
          }